.widget__field {
  position: relative;
  margin-right: 4px;
}

.widget__field-placeholder {
  position: absolute;
  color: #FFFFFF;
  z-index: 2;
  left: 14px;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0.4px;
}

.widget .widget__auto-complete-field {
  overflow: hidden;
  font-weight: normal;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
  background: #5FA2E3;
  border: none !important;
  border-bottom: 1px solid #FFFFFF !important;
  border-radius: 3px;
  color: #FFFFFF;
  font-family: "Open Sans";
  letter-spacing: 0.15px;
  line-height: 24px;
  padding: 21px 15px 5px 15px !important;
  width: 290px;
  box-sizing: border-box;
}

.widget .p-autocomplete-panel {
  margin-top: 5px;
  border-radius: 1px;
}
